In [2]:
import yfinance as yf
import pandas as pd

# Step 1: Create a Ticker object for GameStop (GME)
gme_ticker = yf.Ticker("GME")

# Step 2: Download the historical stock data (maximum period)
gme_data = gme_ticker.history(period="max")

# Step 3: Reset the index to make 'Date' a column instead of index
gme_data.reset_index(inplace=True)

# Step 4: Display the first 5 rows
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0